.default-container
  = render './products/header'

  .usersMypage__contents__wrapper.clearfix
    = render "users/shared/sidebar"

    .usersMypage__contents__wrapper__right
      .usersMypage__contents__wrapper__right__credit-card-new
        .usersMypage__contents__wrapper__right__credit-card-new__title
          %h2 クレジットカード情報入力
        .usersMypage__contents__wrapper__right__credit-card-new__form
          = form_with url: pay_user_credit_card_index_path, method: :post, html: { name: "inputForm" } do |f| # createアクションのパスを指定
            .usersMypage__contents__wrapper__right__credit-card-new__form__cards-number
              = f.label :カード番号, class: 'usersMypage__contents__wrapper__right__credit-card-new__form__label'
              %span.usersMypage__contents__wrapper__right__credit-card-new__form--essential 必須
              %br
              = f.text_field :card_number, type: 'text', class:'usersMypage__contents__wrapper__right__credit-card-new__form__cards-number__field', placeholder: '半角数字のみ', maxlength: "16"
              %ul
                %li
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3296506464"
                %li
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?3296506464"
                %li
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?3296506464"
                %li
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?3296506464"
                %li
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?3296506464"
                %li
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?3296506464"
                %li
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?3296506464"
            .usersMypage__contents__wrapper__right__credit-card-new__form__cards-expire
              = f.label :有効期限, class: 'usersMypage__contents__wrapper__right__credit-card-new__form__label'
              %span.usersMypage__contents__wrapper__right__credit-card-new__form--essential 必須
              
              .usersMypage__contents__wrapper__right__credit-card-new__form__cards-expire__wrapper  
                .usersMypage__contents__wrapper__right__credit-card-new__form__cards-expire__wrapper__month
                  = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'credit-card-new__form__cards-expire--select'
                  %span 月
                  -# %br
                .usersMypage__contents__wrapper__right__credit-card-new__form__cards-expire__wrapper__year
                  = f.select :exp_year, [["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'credit-card-new__form__cards-expire--select'
                  %span 年
            .usersMypage__contents__wrapper__right__credit-card-new__form__security
              = f.label :セキュリティコード, class: '.usersMypage__contents__wrapper__right__credit-card-new__form__security__label'
              %span.usersMypage__contents__wrapper__right__credit-card-new__form--essential 必須
              %br
              = f.text_field :cvc, type: 'text', class: '.usersMypage__contents__wrapper__right__credit-card-new__form__security__field', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4"
              %p
                カード裏面の番号とは?
              = f.hidden_field  :before_controller, value: "#{@path[:controller]}", type: "hidden"
              = f.hidden_field  :before_product, value: "#{@path[:product_id]}", type: "hidden"
            .usersMypage__contents__wrapper__right__credit-card-new__form__bottom#card_token
              = f.submit '追加する', class: 'usersMypage__contents__wrapper__right__credit-card-new__form__bottom__btn', id: 'token_submit'
  
  = render './products/button'
  = render './products/aside'
  = render './products/footer'