.usersMypage__contents__wrapper__left
  .shared-sidebar
    %ul
      %li
        = link_to mypage_user_path(current_user) do
          %ul
            %li.shared-sidebar--text
              マイページ
            %li.shared-sidebar--awsome
              %span
      %li
        = link_to notification_user_path(current_user) do
          %ul
            %li.shared-sidebar--text
              お知らせ
            %li.shared-sidebar--awsome
              %span

      %li
        = link_to todo_user_path(current_user) do
          %ul
            %li.shared-sidebar--text
              やることリスト
            %li.shared-sidebar--awsome
              %span
              
      %li
        = link_to like_show_user_path(current_user) do
          %ul
            %li.shared-sidebar--text
              いいね！一覧
            %li.shared-sidebar--awsome
              %span
      %li
        = link_to new_product_path do
          %ul
            %li.shared-sidebar--text
              出品する
            %li.shared-sidebar--awsome
              %span
      %li
        = link_to forsell_user_path(current_user) do
          %ul
            %li.shared-sidebar--text
              出品した商品-出品中
            %li.shared-sidebar--awsome
              %span
      %li
        = link_to in_progress_user_path(current_user) do
          %ul
            %li.shared-sidebar--text
              出品した商品-取引中
            %li.shared-sidebar--awsome
              %span

      %li
        = link_to completed_user_path(current_user) do
          %ul
            %li.shared-sidebar--text
              出品した商品-売却済み
            %li.shared-sidebar--awsome
              %span
      
      %li
        = link_to "#" do
          %ul
            %li.shared-sidebar--text
              購入した商品-取引中
            %li.shared-sidebar--awsome
              %span
      %li
        = link_to "#" do
          %ul
            %li.shared-sidebar--text
              購入した商品-過去の取引
            %li.shared-sidebar--awsome
              %span
      %li
        = link_to "#" do
          %ul
            %li.shared-sidebar--text
              ニュース一覧
            %li.shared-sidebar--awsome
              %span
      %li
        = link_to all_evaluations_user_path(current_user) do
          %ul
            %li.shared-sidebar--text
              評価一覧
            %li.shared-sidebar--awsome
              %span
      %li
        = link_to "#" do
          %ul
            %li.shared-sidebar--text
              ガイド
            %li.shared-sidebar--awsome
              %span
      %li
        = link_to "#" do
          %ul
            %li.shared-sidebar--text
              お問い合わせ
            %li.shared-sidebar--awsome
              %span


    
  .shared-sidebar
    %p メルペイ
    %ul
      %li
        = link_to "#" do
          %ul
            %li.shared-sidebar--text
              売上・振込申請
            %li.shared-sidebar--awsome
              %span
      %li
        = link_to "#" do
          %ul
            %li.shared-sidebar--text
              ポイント
            %li.shared-sidebar--awsome
              %span

  .shared-sidebar
    %p 設定
    %ul
      %li
        = link_to profile_user_path(current_user) do
          %ul
            %li.shared-sidebar--text
              プロフィール
            %li.shared-sidebar--awsome
              %span
      %li
        = link_to new_user_deliveraddress_path(current_user) do
          %ul
            %li.shared-sidebar--text
              発送元・お届け先住所変更
            %li.shared-sidebar--awsome
              %span

      %li
        - card = current_user.credit_card.nil? ? 0 : current_user.credit_card
        = link_to user_credit_card_path(current_user, card) do
          %ul
            %li.shared-sidebar--text
              支払い方法
            %li.shared-sidebar--awsome
              %span
      

      %li
        = link_to "#" do
          %ul
            %li.shared-sidebar--text
              メール/パスワード
            %li.shared-sidebar--awsome
              %span
      %li
        = link_to identification_user_path(current_user) do
          %ul
            %li.shared-sidebar--text
              本人情報
            %li.shared-sidebar--awsome
              %span
      %li
        = link_to "#" do
          %ul
            %li.shared-sidebar--text
              電話番号の確認
            %li.shared-sidebar--awsome
              %span
      %li
        = link_to logout_user_path(current_user) do
          %ul
            %li.shared-sidebar--text
              ログアウト
            %li.shared-sidebar--awsome
              %span

  - if /admin/.match("#{current_user.email}")
    .shared-sidebar
      %p
        管理者用
      %ul
        %li
          = link_to administrators_give_point_path do
            %ul
              %li.shared-sidebar--text
                ポイント付与
              %li.shared-sidebar--awsome
                %span