.default-container
  = render './products/header'
  - breadcrumb :all_evaluations
  = render 'layouts/breadcrumbs'

  .usersMypage__contents__wrapper.clearfix
    = render "users/shared/sidebar"

    .usersMypage__contents__wrapper__right
      .usersMypage__contents__wrapper__right__evaluation
        .usersMypage__contents__wrapper__right__evaluation__title
          評価一覧
        .usersMypage__contents__wrapper__right__evaluation__tabs
          = link_to "全て", all_evaluations_user_path(current_user), class: "usersMypage__contents__wrapper__right__evaluation__tabs__tab usersMypage__contents__wrapper__right__evaluation__tabs__tab--dark"
          = link_to "良い", good_evaluations_user_path(current_user), class: "usersMypage__contents__wrapper__right__evaluation__tabs__tab usersMypage__contents__wrapper__right__evaluation__tabs__tab--dark"
          = link_to "普通", normal_evaluations_user_path(current_user), class: "usersMypage__contents__wrapper__right__evaluation__tabs__tab usersMypage__contents__wrapper__right__evaluation__tabs__tab--dark"
          = link_to "悪い", bad_evaluations_user_path(current_user), class: "usersMypage__contents__wrapper__right__evaluation__tabs__tab"
        .usersMypage__contents__wrapper__right__evaluation__contents
          %ul
            - if @bad_evaluations.empty?
              %li.usersEvaluations
                .usersEvaluations--none
                  = image_tag "https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?66407541"
                  %p 投稿された評価がありません
            - else
              = render partial: "evaluations", collection: @bad_evaluations, as: "evaluation"

  = render './products/button'
  = render './products/aside'
  = render './products/footer'