.default-container
  = render './products/header'
  - breadcrumb :in_progress
  = render 'layouts/breadcrumbs'

  .usersMypage__contents__wrapper.clearfix
    = render "users/shared/sidebar"

    .usersMypage__contents__wrapper__right
      .usersMypage__contents__wrapper__right__forsell
        %h3 出品した商品
        %ul.usersMypage__contents__wrapper__right__forsell__tabs
          %li.usersMypage__contents__wrapper__right__forsell__tabs__tab.usersMypage__contents__wrapper__right__forsell__tabs__tab--dark
            = link_to "出品中", forsell_user_path(current_user)
          %li.usersMypage__contents__wrapper__right__forsell__tabs__tab
            = link_to "取引中", in_progress_user_path(current_user)
          %li.usersMypage__contents__wrapper__right__forsell__tabs__tab.usersMypage__contents__wrapper__right__forsell__tabs__tab--dark
            = link_to "売却済み", completed_user_path(current_user)

        .usersMypage__contents__wrapper__right__forsell__contents
          %ul
            - 30.times do
              = render "info"

        .usersMypage__contents__wrapper__right__forsell__btns
          %ul
            %li.usersMypage__contents__wrapper__right__forsell__btns__btn
              = link_to "#" do
                = fa_icon "angle-left"
            %li.usersMypage__contents__wrapper__right__forsell__btns__btn.usersMypage__contents__wrapper__right__forsell__btns__btn--right
              = link_to "#" do
                = fa_icon "angle-right"

= render './products/button'
= render './products/aside'
= render './products/footer'