.default-container
  = render 'layouts/notifications'
  = render 'products/header'

  .introduction
    .introduction-container
      .introduction-container__top
        .introduction-container__top__user-photo
          = image_tag "https://cdn.pixabay.com/photo/2016/05/17/22/16/baby-1399332_1280.jpg", class:'introduction-container__top__user-photo__adjuster'
        .introduction-container__top__user-nickname
          = @user.nickname
        .introduction-container__top__user-score
          .introduction-container__top__user-score__left
            評価13
          .introduction-container__top__user-score__right
            出品数32
      .introduction-container__user-ratings
        .introduction-container__user-ratings__good
          = fa_icon "smile-o", class: 'product-user-ratings__face__icon-smile'
          %span 0
        .introduction-container__user-ratings__normal
          = fa_icon "meh-o", class: 'product-user-ratings__face__icon-meh'
          %span 0
        .introduction-container__user-ratings__bad
          = fa_icon "frown-o", class: 'product-user-ratings__face__icon-frown'
          %span 0

      .introduction-container__user-profile
        = @user.profile
      - if current_user.id != @user.id
        = link_to 'このユーザーを評価する', root_path(@user.id), class: "introduction-container__evaluation-btn"


  = render 'products/aside'
  = render 'products/footer'
