.default-container
  = render './products/header'
  - breadcrumb :like
  = render 'layouts/breadcrumbs'

  .usersMypage__contents__wrapper.clearfix
    = render "users/shared/sidebar"

    .usersMypage__contents__wrapper__right
      .usersMypage__contents__wrapper__right__like
        %p
          いいね！一覧
      .usersMypage__contents__wrapper__right__like__contents
        - @likes.each do |like|
          %ul
            %li.usersInfo
              - product = Product.find_by(id: like.product_id)
              = link_to product_path(product) do
                %ul
                  %li.usersInfo--image
                    = image_tag "#{product.product_images[0].image}"
                  %li.usersInfo--text
                    = product.name
                    %br
                      = "¥ #{number_with_delimiter product.price}"
                  %li.usersInfo--awsome
                    = fa_icon "chevron-right"

      
      %ul.usersMypage__contents__wrapper__right__like__btns
        %li.usersMypage__contents__wrapper__right__like__btns__btn
          = link_to "#" do
            = fa_icon "angle-left"
        %li.usersMypage__contents__wrapper__right__like__btns__btn.usersMypage__contents__wrapper__right__like__btns__btn--right
          = link_to "#" do
            = fa_icon "angle-right"

                

  = render './products/button'
  = render './products/aside'
  = render './products/footer'