.default-container
  = render './products/header'

  .usersMypage__breadCrumbs
    %ul
      %li
        = link_to "メルカリ", root_path
      %li
        = fa_icon "angle-right", class: "usersMypage__breadCrumbs--awsome"
      %li
        = link_to mypage_user_path(current_user) do
          マイページ
          = fa_icon "angle-right", class: "usersMypage__breadCrumbs--awsome"
      %li.usersMypage__breadCrumbs--current
        ログアウト

  .usersMypage__contents__wrapper.clearfix
    = render "users/shared/sidebar"

    .usersMypage__contents__wrapper__right
      .usersMypage__contents__wrapper__right__logout
        = link_to "ログアウト", destroy_user_session_path, method: "delete",  class: "usersMypage__contents__wrapper__right__logout__btn"

          
  = render './products/button'
  = render './products/aside'
  = render './products/footer'