.default-container
  = render './products/header'
  - breadcrumb :notifications
  = render 'layouts/breadcrumbs'

  .usersMypage__contents__wrapper.clearfix
    = render "users/shared/sidebar"

    .usersMypage__contents__wrapper__right
      .usersMypage__contents__wrapper__right__notification
        %ul.usersMypage__contents__wrapper__right__notification__tabs
          %li.usersMypage__contents__wrapper__right__notification__tabs__tab
            = link_to "お知らせ", notification_user_path(current_user)
          %li.usersMypage__contents__wrapper__right__notification__tabs__tab.usersMypage__contents__wrapper__right__notification__tabs__tab--dark
            = link_to "やることリスト", todo_user_path(current_user)

        .usersMypage__contents__wrapper__right__notification__contents
          %ul
            = render "info-none"
                

  = render './products/button'
  = render './products/aside'
  = render './products/footer'