.default-container
  = render './products/header'
  - breadcrumb :profile
  = render 'layouts/breadcrumbs'

  .usersMypage__contents__wrapper.clearfix
    = render "users/shared/sidebar"

    .usersMypage__contents__wrapper__right

    = form_with model: @user, local: true, method: :put, html: {class: 'first-main__box'} do |f|
      .usersMypage__contents__wrapper__right__profile
        .usersMypage__contents__wrapper__right__profile__image
          - if current_user.attributes["photo"] == "0"
            = image_tag "mercari_user.png"
          - else
            = image_tag current_user.photo.url
        = f.file_field :photo
        %br
        %br
        .usersMypage__contents__wrapper__right__profile__name
          = f.text_field :nickname, autofocus: true, placeholder: @user.nickname, class: "input-default"
        %ul
          %li
            %span 評価
            #{Evaluation.group(:seller_id).size[current_user.id].to_i}
          %li
            %span 出品数
            #{Product.group(:seller_id).size[current_user.id].to_i}
            

      .usersMypage__contents__wrapper__right__setting-profile-content
        = f.text_area :profile, class: "text-area"
        .line_field
          LINE認証は以下のQRコードから
          .line_field--qrcode
            = image_tag 'qrcode.png'
          %div
            取得したコードはこちらに入力してください
          = f.text_field :line_token, class: "line_field--textarea"
        = f.submit "変更する", class: "btn-red"

      .usersMypage__contents__wrapper__right__tabs

  = render './products/button'
  = render './products/aside'
  = render './products/footer'
