.default-container
  = render './products/header'

  .usersShow__breadCrumbs
    %ul
      %li
        = link_to "メルカリ", "hoge"
      %li
        = fa_icon "angle-right", class: "usersShow__breadCrumbs--awsome"
      %li.usersShow__breadCrumbs--mypage
        マイページ

  .usersShow__contents
    .usersShow__contents__wrapper.clearfix
      .usersShow__contents__wrapper__left
        = render "users/shared/sidebar"
            

      .usersShow__contents__wrapper__right
        .usersShow__contents__wrapper__right__profile
          .usersShow__contents__wrapper__right__profile__image
            = image_tag "http://static.mercdn.net/thumb/members/717195406.jpg?1555687756"
          .usersShow__contents__wrapper__right__profile__name
            name
          %ul
            %li
              %span 評価
              3
            %li
              %span 出品数
              0


        .usersShow__contents__wrapper__right__tabs
          .usersShow__contents__wrapper__right__tabs__tab
            %input{id: "user-notice", type: "radio", name: "tab1_item", checked: "checked"}
            %label{class: "usersShow__contents__wrapper__right__tabs__tab__label", for: "user-notice"}
              %p
                お知らせ
            %input{id: "user-todos", type: "radio", name: "tab1_item"}
            %label{class: "usersShow__contents__wrapper__right__tabs__tab__label", for: "user-todos"}
              %p
                やることリスト
            
            #user-notice-content.usersShow__contents__wrapper__right__tabs__contents
              %ul
                = render "info"
                = render "info"
                = render "info"
                = render "info"
                %li.usersShow__contents__wrapper__right__tabs__contents--last
                  = link_to "一覧を見る", "hoge"

            #user-todos-content.usersShow__contents__wrapper__right__tabs__contents
              %ul
                = render "info-none"
                

          .usersShow__contents__wrapper__right__purchesed-items
            %p
              購入した商品

          .usersShow__contents__wrapper__right__tabs__tab
            %input{id: "under-deal", type: "radio", name: "tab2_item", checked: "checked"}
            %label{class: "usersShow__contents__wrapper__right__tabs__tab__label", for: "under-deal"}
              %p
                取引中
            %input{id: "past-deal", type: "radio", name: "tab2_item"}
            %label{class: "usersShow__contents__wrapper__right__tabs__tab__label", for: "past-deal"}
              %p
                過去の取引
            
            
            #under-deal-content.usersShow__contents__wrapper__right__tabs__contents
              %ul
                = render "info-none"

            #past-deal-content.usersShow__contents__wrapper__right__tabs__contents
              %ul
                = render 'info'
                = render 'info'
                = render 'info'
                = render 'info'
                = render 'info'
                = render 'info'
                = render 'info'
                = render 'info'
                %li.usersShow__contents__wrapper__right__tabs__contents--last
                  = link_to "一覧を見る", "hoge"

  = render './products/aside'
  = render './products/footer'