.default-container
  = render './products/header'

  .usersShow
    .usersShow__breadCrumbs
      %ul
        %li
          メルカリ
        %li
          = fa_icon "angle-right", class: "usersShow__breadCrumbs__awsome"

        %li.usersShow__breadCrumbs--mypage
          マイページ
    .usersShow__container.clearfix
      .usersShow__container__left
        .usersShow__container__left__wrapper
          %table.usersShow__container__left__wrapper__list
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  マイページ
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  お知らせ
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  やることリスト
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  いいね！一覧
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  出品する
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  出品した商品・出品中
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  出品した商品・取引中
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  出品した商品・売却済み
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  購入した商品・取引中
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  購入した商品・過去の取引
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  ニュース一覧
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  評価一覧
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  ガイド
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  お問い合わせ
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"

          %p.usersShow__container__left__wrapper__title
            メルペイ
          %table.usersShow__container__left__wrapper__list
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  売上・振込申請
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  ポイント
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"

          %p.usersShow__container__left__wrapper__title
            設定
          %table.usersShow__container__left__wrapper__list
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  プロフィール
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  発送元・お届け先住所変更
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  支払い方法
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  メール/パスワード
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  本人情報
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  電話番号の確認
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"
            %tr
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__text" do
                  ログアウト
              %td
                = link_to "hoge", class: "usersShow__container__left__wrapper__list__awsome" do
                  = fa_icon "chevron-right"

      .usersShow__container__right
        .usersShow__container__right__wrapper
          .usersShow__container__right__wrapper__profile
            aaa

            .usersShow__container__right__wrapper__profile__btn



          .usersShow__container__right__wrapper__purchesed-item
            aa



  = render './products/aside'
  = render './products/footer'