.default-container 
  .single
    .single__single-top
      .single__single-top__container
        .single__single-top__container__logo
          =link_to root_path do
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3348495940"
          
        .single__single-top__container__progress-bar
          %ul.single__single-top__container__progress-bar__list
            %li.single__single-top__container__progress-bar__list__user-info
              会員情報
              .progress-status__dot
            %li.single__single-top__container__progress-bar__list__user-address
              お届け先住所入力
              .progress-status__dot
            %li.single__single-top__container__progress-bar__list__complete
              完了
              .progress-status__dot

    .single__single-main
      %section.single__single-main__l-single-container
        = form_with model: @user, url:  step2_users_path, local: true, method: :get, html: {class: 'first-main__box'} do |f|
          -# = render "devise/shared/error_messages", resource: resource
          %h2.single__single-main__l-single-container__l-single-head 会員情報入力
    
          .single__single-main__l-single-container__l-single-content
            .single__single-main__l-single-container__l-single-content__form-group
              = f.label "ニックネーム"

              %span.form_require 必須
              %br/
              - if session["devise.omniauth_data"].present?
                = f.text_field :nickname, autofocus: true, placeholder: "例) メルカリ太郎", class: "input-default", value: "#{session["devise.omniauth_data"]['nickname']}"
              - else 
                = f.text_field :nickname, autofocus: true, placeholder: "例) メルカリ太郎", class: "input-default"

            .single__single-main__l-single-container__l-single-content__form-group
              = f.label "メールアドレス"
              %span.form_require 必須
              %br/
              - if session["devise.omniauth_data"].present?
                = f.text_field :email, autofocus: true, placeholder: "PC・携帯どちらでも可", class: "input-default", value: "#{session["devise.omniauth_data"]['email']}"
              - else 
                = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可", class: "input-default"

            .single__single-main__l-single-container__l-single-content__form-group
              = f.label "パスワード"
              %span.form_require 必須
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} characters minimum)
              %br/
              = f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上", class: "input-default"
    
            .single__single-main__l-single-container__l-single-content__form-group
              = f.label "パスワード (確認)"
              %span.form_require 必須
              %br/
              = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "6文字以上", class: "input-default"
  
            .single__single-main__l-single-container__l-single-content__form-group
              %h3.text-left.l-chapter-sub-head 本人確認
              %p.l-single-text
                安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
                
            .single__single-main__l-single-container__l-single-content__form-group
              = f.label "お名前(全角)"
              %span.form_require 必須
              .register__single-main__l-single-container__l-single-content__form-group__harf
                = f.text_field :family_name, autofocus: true, placeholder: "例) 山田", class: "input-default-harf"
                = f.text_field :first_name, autofocus: true, placeholder: "例) 彩", class: "input-default-harf"
  
            .single__single-main__l-single-container__l-single-content__form-group
              = f.label "お名前カナ(全角)"
              %span.form_require 必須
              %br/
              = f.text_field :family_name_pseudonym, autofocus: true, placeholder: "例) ヤマダ", class: "input-default-harf"
              = f.text_field :first_name_pseudonym, autofocus: true, placeholder: "例) アヤ", class: "input-default-harf"
  
            .single__single-main__l-single-container__l-single-content__form-group
              = f.label "生年月日"
              %span.form_require 必須
              %br/
              = f.date_field :birthday, class: "input-default"
    
              %p.form-info-text
                ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

            .single__single-main__l-single-container__l-single-content__form-group
              .single__single-main__l-single-container__l-single-content__form-group__text-right
                =link_to "/jp/help_center/article/423/" do
                  本人情報の登録について
    
            = f.submit "次へ進む", class: "btn-red"
    
    .single__single-footer
      .single__single-footer__container