.default-container
  = render './products/header'
  - breadcrumb :todo
  = render 'layouts/breadcrumbs'

  .usersMypage__contents__wrapper.clearfix
    = render "users/shared/sidebar"

    .usersMypage__contents__wrapper__right
      .usersMypage__contents__wrapper__right__notification
        .usersMypage__contents__wrapper__right__notification__tabs
          = link_to "お知らせ", notification_user_path(current_user), class: "usersMypage__contents__wrapper__right__notification__tabs__tab usersMypage__contents__wrapper__right__notification__tabs__tab--dark"
          = link_to "やることリスト", todo_user_path(current_user), class: "usersMypage__contents__wrapper__right__notification__tabs__tab"

        .usersMypage__contents__wrapper__right__notification__contents
          %ul
            - 20.times do
              = render "info"

  = render './products/button'
  = render './products/aside'
  = render './products/footer'