.default-container
  = render './products/header'

  .usersMypage__breadCrumbs
    %ul
      %li
        = link_to "メルカリ", root_path
      %li
        = fa_icon "angle-right", class: "usersMypage__breadCrumbs--awsome"
      %li
        = link_to mypage_user_path(current_user) do
          マイページ
          = fa_icon "angle-right", class: "usersMypage__breadCrumbs--awsome"
      %li.usersMypage__breadCrumbs--current
        やることリスト

  .usersMypage__contents__wrapper.clearfix
    = render "users/shared/sidebar"

    .usersMypage__contents__wrapper__right
      .usersMypage__contents__wrapper__right__notification
        .usersMypage__contents__wrapper__right__notification__tabs
          = link_to "お知らせ", notification_user_path(current_user), class: "usersMypage__contents__wrapper__right__notification__tabs__tab usersMypage__contents__wrapper__right__notification__tabs__tab--dark"
          = link_to "やることリスト", todo_user_path(current_user), class: "usersMypage__contents__wrapper__right__notification__tabs__tab"

        .usersMypage__contents__wrapper__right__notification__contents
          %ul
            - 20.times do
              = render "info"

  = render './products/button'
  = render './products/aside'
  = render './products/footer'