.single-container
  %header.single-container__header
    %h1
      = link_to root_path do
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?615905397"
  %section.purchase-container
    .purchase-container__head
      購入内容の確認
    %section.purchase-container__product
      .purchase-container__product__main
        .purchase-container__product__main__inner
          .purchase-container__product__main__inner__buy-item-image
            = image_tag "#{@purchase.product.product_images[0].image}", class: 'product_image'
          %p.purchase-container__product__main__inner__buy-item-name
            = @purchase.product.name
          = form_with(model: @purchase, url: product_purchases_path(@purchase.product_id), remote: false, local: true, class: "purchase-container__product__main__inner__buy-form") do |form|
            %p.purchase-container__product__main__inner__buy-form__buy-price
              ="¥#{number_with_delimiter(@purchase.product.price)}"
              %span.purchase-container__product__main__inner__buy-form__buy-price__item-shipping-fee
                = @purchase.product.delivery.shipping_fee.gsub!(/(\(.+\))/, '')
            %ul.purchase-container__product__main__inner__buy-form__pointbutton
              %li.purchase-container__product__main__inner__buy-form__pointbutton__box ポイントはありません
            %ul.purchase-container__product__main__inner__buy-form__price
              %li.purchase-container__product__main__inner__buy-form__price__detail
                .purchase-container__product__main__inner__buy-form__price__detail__head
                  支払い金額
                .purchase-container__product__main__inner__buy-form__price__detail__yen
                  ="¥#{number_with_delimiter(@purchase.product.price)}"
            = form.text_field :seller_id, value: "#{@purchase.product.seller_id}", type: "hidden"
            = form.text_field :buyer_id, value: "#{current_user.id}" , type: "hidden"
            = form.text_field :product_id, value: "#{@purchase.product.id}" , type: "hidden"
            = form.submit "購入する", class: "purchase-container__product__main__inner__buy-form__submitbutton"
    %section.purchase-container__deliver
      .purchase-container__deliver__inner
        .purchase-container__deliver__inner__head 配送先
        .purchase-container__deliver__inner__address
          〒123-4567
          %br
          神奈川県横浜市青葉区適当町1-1-1
          %br
          メルカリ 太郎
        = link_to root_path, class: "purchase-container__deliver__inner__change-button" do
          %span 変更する
          /iconは仮置き
          %i.icon >
    %section.purchase-container__payment
      .purchase-container__payment__inner
        .purchase-container__payment__inner__head 支払い方法
        .purchase-container__payment__inner__info
          ************1234
          %br
          07/29
          %br
        %figure.purchase-container__payment__inner__logo
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?944967624", width: "49", height: "15"
        = link_to root_path, class: "purchase-container__payment__inner__change-button" do
          %span 変更する
          /iconは仮置き
          %i.icon >
  %footer
    .default-container
      .single
        = render 'devise/shared/single-footer', layout: "user"