.default-container
  .single
    .single__single-top
      .single__single-top__container
        .single__single-top__container__logo
          =link_to root_path do
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3348495940"

    .single__single-main
      %section.login__container
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .login__container__head 
            アカウントをお持ちでない方はこちら
            = link_to step1_users_path do
              .login__container__head__signup-btn
                新規会員登録
          .login__container__content
            .login__container__content__facebook-login
              = link_to user_facebook_omniauth_authorize_path , method: :post do
                .login__container__content__facebook-login__icon
                  = fa_icon 'facebook-square'
                .login__container__content__facebook-login__text
                  %p Facebookでログイン
            .login__container__content__google-login
              = link_to user_google_oauth2_omniauth_authorize_path, method: :post do
                .login__container__content__google-login__icon
                  = fa_icon 'google'
                .login__container__content__google-login__text
                  %p Googleでログイン




          .single__single-main__l-single-container__l-single-content
            .single__single-main__l-single-container__l-single-content__form-group
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "input-default"
            
            .single__single-main__l-single-container__l-single-content__form-group
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} characters minimum)
              = f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: "input-default"
            = f.submit "ログインする", class: 'btn-red'

  = render "devise/shared/single-footer"