
#aside.aside
  .aside__content
    .aside__content__left
      .aside__content__left__text
        %h2 スマホでかんたんフリマアプリ
        %p 今すぐ無料ダウンロード！
      .aside__content__left__images
        %ul
          %li
            = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?917505326', alt: 'mercari_logo', class: 'aside__content__left__images--mercari'
          %li
            = link_to 'https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8', target: :_blank do
              = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3791839826', alt: 'apple_store', class: 'aside__content__left__images--app'
          %li
            = link_to 'https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja', target: :_blank do
              = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3791839826', alt: 'google_play', class: 'aside__content__left__images--app'
    .aside__content__right
      = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?917505326', alt: 'phone_image'
