%header.header
  .header-wrapper
    .header__top
      %h1
        = link_to root_path do
          = image_tag "mercari_logo_horizontal.png", class: 'header__top__logo'


      = form_with url: search_products_path, method: :get, local: true, class: "header__top__form" do |f|
        = f.text_field :search_words, value: "#{@search_words}", class: "form-default", placeholder: "何かお探しですか？"
        = button_tag  type: "submit", class: "header__top__form__icon" do
          = fa_icon "search"

    .header__menu-box
      .header__menu-box--left
        %ul
          %li.header__menu-box--left__category
            = link_to root_path do
              = fa_icon "list-ul", class: 'header__menu-box--left__icon'
              カテゴリーから探す
            %ul.header__menu-box--left__parents
              %li.header__menu-box--left__parents__parent
                = link_to "レディース", root_path 
                %ul.header__menu-box--left__children
                  %li.header__menu-box--left__children__child
                    = link_to "トップス", root_path 
                    %ul.header__menu-box--left__grand-children
                    -# マージ後にエラーとなったため、一旦コメントアウトにて対応。優先度低いため後に実装
                      -# - @categories_grandchildren_ladies1.each do |grandchild| 
                        %li.header__menu-box--left__grand-children__grand-child
                          -# = link_to "#{grandchild.category}", root_path
                  %li.header__menu-box--left__children__child
                    = link_to "ジャケット/アウター", root_path 
                    %ul.header__menu-box--left__grand-children
                    -# マージ後にエラーとなったため、一旦コメントアウトにて対応。優先度低いため後に実装
                      -# - @categories_grandchildren_ladies2.each do |grandchild|
                        %li.header__menu-box--left__grand-children__grand-child
                          -# = link_to "#{grandchild.category}", root_path
                  %li.header__menu-box--left__children__child
                    = link_to "パンツ", root_path 
                    %ul.header__menu-box--left__grand-children
                    -# マージ後にエラーとなったため、一旦コメントアウトにて対応。優先度低いため後に実装
                      -# - @categories_grandchildren_ladies3.each do |grandchild|
                        %li.header__menu-box--left__grand-children__grand-child
                          -# = link_to "#{grandchild.category}", root_path
                  %li.header__menu-box--left__children__child
                    = link_to "スカート", root_path 
                  %li.header__menu-box--left__children__child
                    = link_to "ワンピース", root_path 
                  %li.header__menu-box--left__children__child
                    = link_to "靴", root_path 
                  %li.header__menu-box--left__children__child
                    = link_to "ルームウェア/パジャマ", root_path 
                  %li.header__menu-box--left__children__child
                    = link_to "レッグウェア", root_path 
                  %li.header__menu-box--left__children__child
                    = link_to "帽子", root_path 
                  %li.header__menu-box--left__children__child
                    = link_to "バッグ", root_path 
                  %li.header__menu-box--left__children__child
                    = link_to "アクセサリー", root_path 
                  %li.header__menu-box--left__children__child
                    = link_to "ヘアアクセサリー", root_path 
                  %li.header__menu-box--left__children__child
                    = link_to "小物", root_path 
                  %li.header__menu-box--left__children__child
                    = link_to "時計", root_path 
                  %li.header__menu-box--left__children__child
                    = link_to "ウィッグ/エクステ", root_path 
                  %li.header__menu-box--left__children__child
                    = link_to "スーツ/フォーマル/ドレス", root_path 
                  %li.header__menu-box--left__children__child
                    = link_to "マタニティ", root_path 
                  %li.header__menu-box--left__children__child
                    = link_to "その他", root_path 
              %li.header__menu-box--left__parents__parent
                = link_to "メンズ", root_path 
                %ul.header__menu-box--left__children
                  %li.header__menu-box--left__children__child
                    = link_to "トップス", root_path 
                    %ul.header__menu-box--left__grand-children
                      %li.header__menu-box--left__grand-children__grand-child
                        = link_to "Tシャツ/カットソー（半袖/袖なし)", root_path 
                      %li.header__menu-box--left__grand-children__grand-child
                        = link_to "Tシャツ/カットソー（七分/長袖)", root_path 
                  %li.header__menu-box--left__children__child
                    = link_to "ジャケット/アウター", root_path 
                    %ul.header__menu-box--left__grand-children
                      %li.header__menu-box--left__grand-children__grand-child
                        = link_to "テーラードジャケット", root_path 
                      %li.header__menu-box--left__grand-children__grand-child
                        = link_to "ノーカラージャケット", root_path 
              %li.header__menu-box--left__parents__parent
                = link_to "ベビー・キッズ", root_path 
              %li.header__menu-box--left__parents__parent
                = link_to "本・音楽・ゲーム", root_path 
              %li.header__menu-box--left__parents__parent
                = link_to "おもちゃ・ホビー・グッズ", root_path 
              %li.header__menu-box--left__parents__parent
                = link_to "コスメ・香水・美容", root_path 
              %li.header__menu-box--left__parents__parent
                = link_to "家電・スマホ・カメラ", root_path 
              %li.header__menu-box--left__parents__parent
                = link_to "スポーツ・レジャー", root_path 
              %li.header__menu-box--left__parents__parent
                = link_to "ハンドメイド", root_path 
              %li.header__menu-box--left__parents__parent
                = link_to "チケット", root_path 
              %li.header__menu-box--left__parents__parent
                = link_to "自転車・オートバイ", root_path 
              %li.header__menu-box--left__parents__parent
                = link_to "その他", root_path 
              %li.header__menu-box--left__parents__parent
                = link_to "カテゴリ一覧", root_path 
                
            
          %li.header__menu-box--left__brand
            = link_to root_path do
              = fa_icon "tag", class: 'header__menu-box--left__icon'
              ブランドから探す
            %ul.header__menu-box--left__brand__list
              %li
                = link_to "シャネル", root_path
              %li
                = link_to "ナイキ", root_path
              %li
                = link_to "ルイ ヴィトン", root_path 
              %li
                = link_to "シュプリーム", root_path
              %li
                = link_to "アディダス", root_path 
              %li
                = link_to "ブランド一覧", root_path 


      - if user_signed_in?
        .header__menu-box--right
          %ul
            %li.header__menu-box--right__list
              = link_to like_show_user_path(current_user) do
                = fa_icon "heart-o", class: 'header__menu-box--right__list__icon'
                いいね！一覧
            
            %li.header__menu-box--right__list
              = link_to notification_user_path(current_user) do
                = fa_icon "bell-o", class: 'header__menu-box--right__list__icon'
                お知らせ
              
                .header__menu-box__counter
            %li.header__menu-box--right__list
              = link_to todo_user_path(current_user) do
                = fa_icon "check", class: 'header__menu-box--right__list__icon'
                やることリスト
          
            %li.header__menu-box--right__list
              = link_to mypage_user_path(current_user.id) do
                = image_tag "https://cdn.pixabay.com/photo/2016/05/17/22/16/baby-1399332_1280.jpg", class: 'header__menu-box--right__list__photo'
                マイページ
      - else
        .header__menu-box--right
          .header__menu-box--right__user-btn
            = link_to "新規会員登録", step1_users_path, class: 'sign-up-btn'
            = link_to "ログイン", new_user_session_path, class: 'user-login-btn'
