%main
  %section.carousel
    = render './carousel/carousel'
  
  %section.pickup-containers
    .pickup-containers__head
      %h2.pickup-containers__head__headline
        = fa_icon "trophy"
        いいねランキング
        = fa_icon "trophy"

    %section.pickup-container
      %h3.pickup-container__headline
      %ul.item-box-container
        - @all_ranks.each.with_index(1) do |product, i|

          %li.item-box
            = link_to product_path(product) do    
              %figure.item-box__photo
                =image_tag "#{product.product_images[0].image}", class: "item-box__photo--product"
                .item-box__photo__price
                  = "¥ #{number_with_delimiter product.price}"
                - if product.status_id == 4
                  = image_tag "soldout_tag.png", class: "item-box__photo--soldout"
              
              .item-box__content
                %h3.item-box__content__name
                  = product.name
                - if true
                  .item-box__content__num__likes
                    %span
                      - if i == 1
                        = fa_icon "star", id: "star1"
                      - elsif i == 2
                        = fa_icon "star", id: "star2"
                      - elsif i == 3
                        = fa_icon "star", id: "star3"
                      第
                      = i
                      位
                     
  %section.pickup-containers
    .pickup-containers__head
      %h2.pickup-containers__head__headline 人気のカテゴリー
      .pickup-containers__head__buttonarea
        %ul.pickup-containers__head__buttonarea__buttons
          %li.pickup-containers__head__buttonarea__buttons__button
            = link_to "レディース", category_path(1)
          %li.pickup-containers__head__buttonarea__buttons__button
            = link_to "メンズ", category_path(2)
          %li.pickup-containers__head__buttonarea__buttons__button
            = link_to "家電・スマホ・カメラ", category_path(8)
          %li.pickup-containers__head__buttonarea__buttons__button
            = link_to "おもちゃ・ホビー・グッズ", category_path(6)

    %section.pickup-container
      %h3.pickup-container__headline
        レディース新着アイテム
        %span
          = link_to category_path(1) do
            もっと見る
            = fa_icon "chevron-right"
      %ul.item-box-container      
        = render partial: "product", collection: @products_ladies

    %section.pickup-container
      %h3.pickup-container__headline
        メンズ新着アイテム
        %span
          = link_to category_path(2) do
            もっと見る
            = fa_icon "chevron-right"
      %ul.item-box-container
        = render partial: "product", collection: @products_mens

    %section.pickup-container
      %h3.pickup-container__headline
        家電・スマホ・カメラ新着アイテム
        %span
          = link_to category_path(8) do
            もっと見る
            = fa_icon "chevron-right"
      %ul.item-box-container
        = render partial: "product", collection: @products_electronics

    %section.pickup-container
      %h3.pickup-container__headline
        おもちゃ・ホビー・グッズ
        %span
          = link_to category_path(6) do
            もっと見る
            = fa_icon "chevron-right"
      %ul.item-box-container
        = render partial: "product", collection: @products_toys

  %section.pickup-containers
    .pickup-containers__head
      %h2.pickup-containers__head__headline ピックアップブランド
      .pickup-containers__head__buttonarea
        %ul.pickup-containers__head__buttonarea__buttons
          %li.pickup-containers__head__buttonarea__buttons__button
            = link_to "シャネル", brand_path(1)
          %li.pickup-containers__head__buttonarea__buttons__button
            = link_to "ルイ ヴィトン", brand_path(3)
          %li.pickup-containers__head__buttonarea__buttons__button
            = link_to "シュプリーム", brand_path(4)
          %li.pickup-containers__head__buttonarea__buttons__button
            = link_to "ナイキ", brand_path(2)


    %section.pickup-container
      %h3.pickup-container__headline
        シャネル新着アイテム
        %span
          = link_to brand_path(1) do
            もっと見る
            = fa_icon "chevron-right"
      %ul.item-box-container
        = render partial: "product", collection: @products_chanel

    %section.pickup-container
      %h3.pickup-container__headline
        ルイ ヴィトン新着アイテム
        %span
          = link_to brand_path(3) do
            もっと見る
            = fa_icon "chevron-right"
      %ul.item-box-container
        = render partial: "product", collection: @products_vuitton
    %section.pickup-container
      %h3.pickup-container__headline
        シュプリーム新着アイテム
        %span
          = link_to brand_path(4) do
            もっと見る
            = fa_icon "chevron-right"
      %ul.item-box-container
        = render partial: "product", collection: @products_supreme        

    %section.pickup-container
      %h3.pickup-container__headline
        ナイキ新着アイテム
        %span
          = link_to brand_path(2) do
            もっと見る
            = fa_icon "chevron-right"
      %ul.item-box-container        
        = render partial: "product", collection: @products_nike