%main
  %section.carousel
    = render './carousel/carousel'
  
  %section.pickup-containers
    %h2.pickup-containers__headline
      = fa_icon "trophy"
      いいねランキング
      = fa_icon "trophy"

    %section.pickup-container
      %h3.pickup-container__headline
      %ul.item-box-container
        - @all_ranks.each.with_index(1) do |product, i|

          %li.item-box
            = link_to product_path(product) do    
              %figure.item-box__photo
                =image_tag "#{product.product_images[0].image}", class: "item-box__photo--product"
                - if product.status_id == 4
                  = image_tag "soldout_tag.png", class: "item-box__photo--soldout"
              
              .item-box__content
                %h3.item-box__content__name
                  = product.name
                .item-box__content__num
                  .item-box__content__num__price
                    = "¥ #{number_with_delimiter product.price}"
                  - if true
                    .item-box__content__num__likes
                      %span
                        第
                        = i
                        位
                     
  %section.pickup-containers
    %h2.pickup-containers__headline ピックアップカテゴリー

    %section.pickup-container
      %h3.pickup-container__headline
        = link_to "レディース 新着アイテム", category_path(id: 1)
      %ul.item-box-container      
        = render partial: "product", collection: @products_ladies
      .view-all
        = link_to "すべての商品を見る", category_path(id: 1)

    %section.pickup-container
      %h3.pickup-container__headline
        = link_to "メンズ 新着アイテム", category_path(id: 2)
      %ul.item-box-container
        = render partial: "product", collection: @products_mens
      .view-all
        = link_to "すべての商品を見る", category_path(id: 2)

    %section.pickup-container
      %h3.pickup-container__headline
        = link_to "ベビー・キッズ 新着アイテム", category_path(id: 3)
      %ul.item-box-container
        = render partial: "product", collection: @products_kids
      .view-all
        = link_to "すべての商品を見る", category_path(id: 3)

    %section.pickup-container
      %h3.pickup-container__headline
        = link_to "コスメ・香水・美容 新着アイテム", category_path(id: 6)
      %ul.item-box-container
        = render partial: "product", collection: @products_cosme
      .view-all
        = link_to "すべての商品を見る", category_path(id: 6)

  %section.pickup-containers
    %h2.pickup-containers__headline ピックアップブランド

    %section.pickup-container
      %h3.pickup-container__headline
        = link_to "シャネル 新着アイテム", brand_path(id: 1)
      %ul.item-box-container
        = render partial: "product", collection: @products_chanel
      .view-all
        = link_to "すべての商品を見る", brand_path(id: 1)

    %section.pickup-container
      %h3.pickup-container__headline
        = link_to "ルイ ヴィトン 新着アイテム", brand_path(id: 3)
      %ul.item-box-container
        = render partial: "product", collection: @products_vuitton
      .view-all
        = link_to "すべての商品を見る", brand_path(id: 3)
    %section.pickup-container
      %h3.pickup-container__headline
        = link_to "シュプリーム 新着アイテム", brand_path(id: 4)
      %ul.item-box-container
        = render partial: "product", collection: @products_supreme        
      .view-all
        = link_to "すべての商品を見る", brand_path(id: 4)

    %section.pickup-container
      %h3.pickup-container__headline
        = link_to "ナイキ 新着アイテム", brand_path(id: 2)
      %ul.item-box-container        
        = render partial: "product", collection: @products_nike
      .view-all
        = link_to "すべての商品を見る", brand_path(id: 2)
