%main
  .top-main-visual
    %div
      .top-main-visual-content
        %h2
          スマホでかんたん
          %br/
          フリマアプリ
        %p
          メルカリはスマホカメラからすぐに出品できる
          %br/
          購入時も安心な独自システムのアプリです
        .top-main-visual-store
          = link_to (image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3791839826"), "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8"
          = link_to (image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3791839826"), "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", class: "pull-left"
      =image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?3791839826", class: "background-image"
  %section.carousel
  
  %section.pickup-containers
    %h2.pickup-containers__headline ピックアップカテゴリー

    %section.pickup-container
      %h3.pickup-container__headline
        = link_to "レディース 新着アイテム", category_path(id: 1)
      %ul.item-box-container      
        = render partial: "product", collection: @products_ladies
      .view-all
        = link_to "すべての商品を見る", category_path(id: 1)

    %section.pickup-container
      %h3.pickup-container__headline
        = link_to "メンズ 新着アイテム", category_path(id: 2)
      %ul.item-box-container
        = render partial: "product", collection: @products_mens
      .view-all
        = link_to "すべての商品を見る", category_path(id: 2)

    %section.pickup-container
      %h3.pickup-container__headline
        = link_to "ベビー・キッズ 新着アイテム", category_path(id: 3)
      %ul.item-box-container
        = render partial: "product", collection: @products_kids
      .view-all
        = link_to "すべての商品を見る", category_path(id: 3)

    %section.pickup-container
      %h3.pickup-container__headline
        = link_to "コスメ・香水・美容 新着アイテム", category_path(id: 6)
      %ul.item-box-container
        = render partial: "product", collection: @products_cosme
      .view-all
        = link_to "すべての商品を見る", category_path(id: 6)

  %section.pickup-containers
    %h2.pickup-containers__headline ピックアップブランド

    %section.pickup-container
      %h3.pickup-container__headline
        = link_to "シャネル 新着アイテム", brand_path(id: 1)
      %ul.item-box-container
        = render partial: "product", collection: @products_chanel
      .view-all
        = link_to "すべての商品を見る", brand_path(id: 1)

    %section.pickup-container
      %h3.pickup-container__headline
        = link_to "ルイ ヴィトン 新着アイテム", brand_path(id: 3)
      %ul.item-box-container
        = render partial: "product", collection: @products_vuitton
      .view-all
        = link_to "すべての商品を見る", brand_path(id: 3)
    %section.pickup-container
      %h3.pickup-container__headline
        = link_to "シュプリーム 新着アイテム", brand_path(id: 4)
      %ul.item-box-container
        = render partial: "product", collection: @products_supreme        
      .view-all
        = link_to "すべての商品を見る", brand_path(id: 4)

    %section.pickup-container
      %h3.pickup-container__headline
        = link_to "ナイキ 新着アイテム", brand_path(id: 2)
      %ul.item-box-container        
        = render partial: "product", collection: @products_nike
      .view-all
        = link_to "すべての商品を見る", brand_path(id: 2)
