%main
  .top-main-visual
    %div
      .top-main-visual-content
        %h2
          スマホでかんたん
          %br/
          フリマアプリ
        %p
          メルカリはスマホカメラからすぐに出品できる
          %br/
          購入時も安心な独自システムのアプリです
        .top-main-visual-store
          %a{href: "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8"}
            %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3791839826"}/
          %a.pull-left{href: "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"}
            %img{src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3791839826"}/
      %img.background-image{src: "https://www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?3791839826"}/
  %section.carousel
  
  %section.pickup-containers
    %h2.pickup-containers__headline ピックアップカテゴリー

    %section.pickup-container
      %h3.pickup-container__headline
        %a{href: "https://www.mercari.com/jp/category/1/"} レディース 新着アイテム
      %ul.item-box-container      
        = render partial: "product", collection: @products_ladies
      .view-all
        %a{href: "https://mercari.com/jp/category/2/"} すべての商品を見る

    %section.pickup-container
      %h3.pickup-container__headline
        %a{href: "https://www.mercari.com/jp/category/1/"} メンズ 新着アイテム
      %ul.item-box-container
        = render partial: "product", collection: @products_mens
      .view-all
        %a{href: "https://mercari.com/jp/category/2/"} すべての商品を見る

    %section.pickup-container
      %h3.pickup-container__headline
        %a{href: "https://www.mercari.com/jp/category/3/"} ベビー・キッズ 新着アイテム
      %ul.item-box-container
        = render partial: "product", collection: @products_kids
      .view-all
        %a{href: "https://mercari.com/jp/category/2/"} すべての商品を見る

    %section.pickup-container
      %h3.pickup-container__headline
        %a{href: "https://www.mercari.com/jp/category/6/"} コスメ・香水・美容 新着アイテム
      %ul.item-box-container
        = render partial: "product", collection: @products_cosme        
      .view-all
        %a{href: "https://mercari.com/jp/category/2/"} すべての商品を見る

  %section.pickup-containers
    %h2.pickup-containers__headline ピックアップブランド

    %section.pickup-container
      %h3.pickup-container__headline
        %a{href: "https://www.mercari.com/jp/brand/658/"} シャネル 新着アイテム
      %ul.item-box-container
        = render partial: "product", collection: @products_chanel
      .view-all
        %a{href: "https://mercari.com/jp/category/2/"} すべての商品を見る

    %section.pickup-container
      %h3.pickup-container__headline
        %a{href: "https://www.mercari.com/jp/brand/1326/"} ルイ ヴィトン 新着アイテム
      %ul.item-box-container
        = render partial: "product", collection: @products_vuitton
      .view-all
        %a{href: "https://mercari.com/jp/category/2/"} すべての商品を見る
    
    %section.pickup-container
      %h3.pickup-container__headline
        %a{href: "https://www.mercari.com/jp/brand/1620/"} シュプリーム 新着アイテム
      %ul.item-box-container
        = render partial: "product", collection: @products_supreme        
      .view-all
        %a{href: "https://mercari.com/jp/category/2/"} すべての商品を見る

    %section.pickup-container
      %h3.pickup-container__headline
        %a{href: "https://www.mercari.com/jp/brand/857/"} ナイキ 新着アイテム
      %ul.item-box-container        
        = render partial: "product", collection: @products_nike
      .view-all
        %a{href: "https://mercari.com/jp/category/2/"} すべての商品を見る
