%li.item-box
  -# 商品詳細ページのリンクは未記入
  = link_to "#" do
    %figure.item-box__photo
      =image_tag "#{product.product_images[0].image}"
    .item-box__content
      %h3.item-box__content__name
        = product.name
      .item-box__content__num
        .item-box__content__num__price
          = "¥ #{number_with_delimiter product.price}"
        - if true
          .item-box__content__num__likes
            = fa_icon "heart-o"
            %span 1
