<%= form_with(model: @product, local: true) do |product| %>
<div class="form-group">
  <div class="input-field">

    <div class="field">
      <%= product.label :"商品名" %>
      <%= product.text_field :name %>
    </div>

    <div class="field">
      <%= product.label :"価格" %>
      <%= product.text_field :price %>
    </div>

    <div class="field">
      <%= product.label :"商品の説明" %>
      <%= product.text_area :detail %>
    </div>
    <%= product.fields_for :product_images do |image| %>
    <div class="form-group">
      <div class="input-field">
        <div class="field">
          <%= image.label :"出品画像" %>
          <%= image.file_field :image %>
        </div>
      </div>
    </div>
    <% end %>

    <div class="field">
      <%= product.label :"商品の状態" %>
      <%= product.collection_select(:condition_id, Condition.all, :id, :condition) %>
    </div>

    <div class="actions">
      <%= product.submit %>
    </div>
  </div>
</div>
<% end %>