<%= form_with(model: @product, local: true) do |product| %>
<div class="form-group">
  <div class="input-field">

    <div class="field">
      <%= product.label :"商品名" %>
      <%= product.text_field :name %>
    </div>

    <div class="field">
      <%= product.label :"価格" %>
      <%= product.text_field :price %>
    </div>

    <div class="field">
      <%= product.label :"商品の説明" %>
      <%= product.text_area :detail %>
    </div>
    <%= product.fields_for :product_images do |image| %>
    <div class="form-group">
      <div class="input-field">
        <div class="field">
          <%= image.label :"出品画像" %>
          <%= image.file_field :image %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="field">
      <%= product.label :"商品の状態" %>
      <%= product.collection_select(:condition_id, Condition.all, :id, :condition) %>
    </div>

    <%= product.fields_for :delivery do |delivery| %>
    <div class="form-group">
      <div class="field">
        <%= delivery.label :"配送料の負担" %>
        <%= delivery.select :shipping_fee, ["送料込み(出品者負担)", "着払い(購入者負担)"], prompt:"---" %>
      </div>
      <div class="field">
        <%= delivery.label :"配送の方法" %>
        <%= delivery.collection_select(:deliver_method_id, DeliverMethod.all, :id, :method) %>
      </div>
      <div class="field">
        <%= delivery.label :"発送までの日数" %>
        <%= delivery.collection_select(:estimated_date_id, EstimatedDate.all, :id, :date) %>
      </div>
    </div>
    <% end %>

    <div class="actions">
      <%= product.submit %>
    </div>
  </div>
</div>
<% end %>