
.default-container
  = render 'layouts/notifications'
  = render 'header'
  .product
    .product__container
      %h1.product__name
        = @product.name
      .product__main-contents
        .product__main-contents__photo
          .product__main-contents__photo-main
            = image_tag "#{@product.product_images[0].image}"
            - unless @product.status_id == 1
              .product__main-contents__photo-main--soldout
                = image_tag "soldout_tag.png", class: "product__main-contents__photo-main--soldout-image"
          .product__main-contents__photo-others
            - @product.product_images.each_with_index do |image, i|
              = image_tag "#{image.image}", id: "showimage#{i + 1}"
        %table.product__main-contents__details
          %tbody
            %tr
              %th 出品者
              %td
                = link_to introduction_user_path(@product.seller_id), class: 'text-link' do
                  = @seller.nickname

                .product-user-ratings
                  .product-user-ratings__face
                    = fa_icon "smile-o", class: 'product-user-ratings__face__icon-smile'
                    %span #{ Evaluation.where(seller_id: @product.seller_id).group(:rating).size[1].to_i}

                  .product-user-ratings__face
                    = fa_icon "meh-o", class: 'product-user-ratings__face__icon-meh'
                    %span #{ Evaluation.where(seller_id: @product.seller_id).group(:rating).size[2].to_i}
                  .product-user-ratings__face
                    = fa_icon "frown-o", class: 'product-user-ratings__face__icon-frown'
                    %span #{ Evaluation.where(seller_id: @product.seller_id).group(:rating).size[3].to_i}
            %tr
              %th カテゴリー
              %td
                - if @product.category.parent.parent.present?
                  = link_to '', class: 'text-link' do
                    = @product.category.parent.parent.category
                - if @product.category.parent.present?
                  = link_to '', class: 'text-link' do
                    = @product.category.parent.category
                = link_to '', class: 'text-link' do
                  = @product.category.category
          
            %tr
              %th ブランド
              %td
                - if @product.brand.present?
                  =link_to '', class: 'text-link' do 
                    = @product.brand.brand
            - if @product.size.present?
              %tr
                %th 商品のサイズ
                %td 
                  = @product.size.size
            %tr
              %th 商品の状態
              %td 
                = @product.condition.condition
            %tr
              %th 配送料の負担
              %td 
                = @product.delivery.shipping_fee
            %tr
              %th 配送の方法
              %td 
                = @product.delivery.deliver_method.method
            %tr
              %th 配送元地域
              %td 
                = link_to '', class: 'text-link' do
                  = @product.delivery.deliver_region.region

            %tr
              %th 発送日の目安
              %td 
                = @product.delivery.estimated_date.date
    .product__price
      %span.product__price__bold
        ¥
        = number_with_delimiter @product.price
      %span.product__price__tax (税込)
      %span.product__price__shipping-fee 送料込み

    - if @product.status_id == 1
      - if user_signed_in? && current_user.id != @product.seller_id
        -if @point != 0
          .product__user-sales
            .product__user-sales__balloon
              = "売上金¥#{@point.to_s(:delimited)}をお持ちです"
        = link_to '購入画面に進む', new_product_purchase_path(@product) , class: 'product__buy-btn buy-btn'
      - elsif user_signed_in? && current_user.id == @product.seller_id
        = link_to '商品の編集', edit_product_path(@product.id), class: "product__edit-btn"
        %p.product__edit__btn-text or
        = link_to '出品を停止する', root_path, class: "product__status-btn"
        = link_to 'この商品を削除する', product_path(@product.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "product__delete-btn"
      - else
        = link_to '購入画面に進む', new_user_session_path , class: 'product__buy-btn buy-btn'
    - else
      .product__soldout
        売り切れました

    .product__description
      %p.product__description__text
        = @product.detail
    .product__btn-container
      .product__btn-container--left
        .like-btn
          = render 'likes/like_links', product: @product
        .report-btn
          = fa_icon "flag-o", class:'icon_flag'
          %span 不適切な商品の報告
      .product__btn-container--right
        = link_to '' do
          = fa_icon "lock", class: 'icon_lock'
          あんしん・あんぜんへの取り組み



  .product__message__container
    .product__messages
      %ul.product_messages__items
        - @comments.each do |co|
          %li.product_messages__items__item{data: {id: co.id }}
            = link_to introduction_user_path(co.user), class:"product_messages__items__item__messege-user" do
              %figure.product_messages__items__item__messege-user__figure
                %div.product_messages__items__item__messege-user__figure__div
                  - if co.user.attributes["photo"] == "0"
                    = image_tag "mercari_user.png"
                  - else
                    = image_tag co.user.photo.url

                %figcaption.product_messages__items__item__messege-user__figure__figcaption
                  = co.user.nickname
                - if @product.seller_id == co.user.id
                  .message-is-seller 出品者
            .message-body
              .message-body__text
                = simple_format(co.comment)
              .message-body__icons
                %time.message-icon-left
                  = fa_icon "clock-o"
                  -# CDN版
                  -# %i.far.fa-clock
                  %span 1時間前
                -# 以下の部分は本来通報フォームのようだが、今回は実装しないのでiconのみ
                .message-icon-right
                  - if user_signed_in? && co.user == current_user
                    = link_to "編集", root_path, class: "test"
                    = link_to "削除", product_comment_path(@product.id, co.id), method: :delete
                  = fa_icon "flag-o"
                  -# CDN版
                  -# %i.far.fa-flag
              %i.icon-balloon

    .product__message
      %p.notes_text
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      = form_for [@product, @comment], class: "new_comment" do |form|
        - if @product.status_id == 1
          -# = form.hidden_field :product_id, value: "#{@product.id}"
          - if user_signed_in?
            = form.text_area :comment, class: "product__message__form"
            = form.submit "コメントする", class: "product__message__submit-btn"
          - else
            = form.text_area :comment, class: "product__message__form prohibitted"
            = form.submit "コメントするにはサインイン/ログインが必要です", class: "product__message__submit-btn disabled", disabled: true
        - else
          = form.text_area :comment, class: "product__message__form prohibitted"
          = form.submit "売り切れのためコメントできません", class: "product__message__submit-btn disabled", disabled: true

  %ul.product__links
    %li.product__links--prev
      %a 前のサンプル
    %li.product__links--next
      %a 次のサンプル

  .social-media-box
    .social-media-box__container
      %ul
        %li.share-btn
          = fa_icon "facebook", class: "icon_facebook"
        %li.share-btn
          = fa_icon "twitter", class: "icon_twitter"
        %li.share-btn
          = fa_icon "comment", class: "icon_line"
        %li.share-btn
          = fa_icon "pinterest", class: "icon_pinterest"

  .other-products-container
    .products-in-user
      -# = render ''
    .products-related
      -# = render ''
      %section.pickup-containers
      %h2.pickup-containers__headline
        = link_to "関連商品", category_path(id: @relate_id)

      %section.pickup-container
        %h3.pickup-container__headline
        %ul.item-box-container
          - @relate_items.each do |r|
            %li.item-box
              = link_to product_path(r) do    
                %figure.item-box__photo
                  =image_tag "#{r.product_images[0].image}", class: "item-box__photo--product"
                  - if r.status_id == 4
                    = image_tag "soldout_tag.png", class: "item-box__photo--soldout"
                
                .item-box__content
                  %h3.item-box__content__name
                    = r.name
                  .item-box__content__num
                    .item-box__content__num__price
                      = "¥ #{number_with_delimiter r.price}"
                    - if true
                      .item-box__content__num__likes
                        %span 
                          = render 'likes/like_links', product: r
  .bread-crumbs__bottom
    %ul
      %li
        メルカリ 
        = fa_icon 'angle-right'
      %li
        サンプルパンくず

  = render 'aside'
  = render 'footer'
